@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body{
    background-image: url("sbc.svg");
   
}
@media screen and (max-width:947px) {
    .a{
        margin-left:-550px;
    }
}

@media screen and (min-width:767) and (max-width:1024px) {
    .a{
        margin-left:-490px;
    }
}
@media   (max-width:320px) {
    .a{
        margin-left:-580px;
    }
}



